<% applocals.header='Open New Channel'%>
<% applocals.header_small='Create a new channel with others.'%>


<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="addr_string" class="col-sm-2 control-label">Peer Address</label>

                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Pubkey@HostIP" type="text" id="addr_string">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" onchange="disbale_amount(this)" id="only_connect"> Only connect to peer (without creating channel)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Amount</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="amount" placeholder="Amount ...">
                                    <span class="input-group-addon">SAT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default" onclick="reset_form();">Reset</button>
                        <button type="submit" class="btn btn-info pull-right" onclick="create_channel($('#addr_string').val(),$('#only_connect').prop('checked'),$('#amount').val());" id="create_button">Create Channel</button>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>

<script>

       
    function disbale_amount(checkboxElem) {
        if (checkboxElem.checked) {
            $('#amount').val('');
            $('#amount').prop('disabled', 'disabled');
            $('#create_button').html('Connect');
        } else {
            $('#amount').removeAttr('disabled');
            $('#create_button').html('Create Channel');
        }
    }

    function reset_form() {
        $('#amount').val('');
        $('#addr_string').val('');
        $('#only_connect').prop('checked', false);
        $('#amount').removeAttr('disabled');
        $('#create_button').html('Create Channel');
        return false;
    }

    function create_channel(addr_string, only_connect, amount) {
        notify_handler('info', only_connect ? 'Wait , connecting ...' : 'Wait , Creating channel ...');
        $.post("/openchannel",
            "addr_string=" + addr_string + "&only_connect=" + only_connect + "&amount=" + amount.replace(/,/g, ""),
            function (htmlResult) {
                if (htmlResult.status == 'fail') {
                    notify_handler('error',htmlResult.data.error_message);
                } else {
                    notify_handler('success', only_connect ? 'Connected !' : 'funding_txid: ' + htmlResult.data.funding_txid_str);
                }
            });
        return false;
    }

</script>